{%- if not no_breadcrumbs and parents -%}
<section class="relative table w-full py-32 lg:py-40 bg-no-repeat bg-center" style="background-image: url('/assets/kleopatra_themes/images/bg-products.jpg');">
    <div class="absolute inset-0 bg-gradient-to-b from-black/60 via-black/80 to-black"></div>
    <div class="container">
        <div class="grid grid-cols-1 pb-8 text-center mt-10">
            <h3 class="mb-3 text-3xl leading-normal font-medium text-white">{{ _(title) or _("Kleopatra") }}</h3>
        </div><!--end grid-->
    </div><!--end container-->
    
    <div class="absolute text-center z-10 bottom-5 right-0 left-0 mx-3">
        <ul class="breadcrumb tracking-[0.5px] breadcrumb-light mb-0 inline-block">
            {%- set parents = parents[-3:] %}
			{% set count = (parents | length) + 1 %}
			{% for parent in parents %}
            <li class="inline breadcrumb-item uppercase text-[13px] font-bold duration-500 ease-in-out text-white hover:text-white"><a href="{{ url_prefix }}{{ parent.route | abs_url }}" class="text-white">{{ _(parent.title) or _(parent.label) or _(parent.name) or "" }}</a></li>
            {% endfor %}
            <li class="inline breadcrumb-item uppercase text-[13px] font-bold duration-500 ease-in-out text-white hover:text-white">{{ _(title) }}</li>
        </ul>
    </div>
</section><!--end section-->
<div class="relative">
    <div class="shape absolute right-0 sm:-bottom-px -bottom-[2px] left-0 overflow-hidden z-1 text-white dark:text-slate-900">
        <svg class="w-full h-auto" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
{%- endif -%}
